div.footer
    | Develop & design by
    a(href="https://github.com/andy-inc", target="_blank") @Andy
script(type='text/javascript', src='/vendors/jquery/jquery.js')

script(type='text/javascript', src='/vendors/davis/davis.js')
script(type='text/javascript', src='/vendors/markdown/lib/markdown.js')
script(type='text/javascript', src='/vendors/moment/min/moment-with-langs.min.js')
script(type='text/javascript', src='/js/index.js')

script(type='text/javascript', src='/vendors/bootstrap/dist/js/bootstrap.js')