//
   Created by andy on 15/01/14.
div
    div.inner
        div.links.group
            ul.list
                li
                    i.icon-home-outline
                    a(href="/") Home
                li
                    i.icon-user
                    a(href="/me") About me
                li
                    i.icon-box
                    a(href="/projects") Projects
        div.contacts.group
            h2 Andrew Sumskoy
            h6 Software designer & developer
            div.photo.hidden-xs.hidden-sm
            ul.inline.center.list
                li
                    a(href="mailto:andy@sumskoy.com")
                        i.icon-email
                li
                    a(href="https://plus.google.com/u/0/103222114742356894185/posts", target="_blank")
                        i.icon-gplus
                li
                    a(href="skype:saylor_stav?chat")
                        i.icon-skype

                li
                    a(href="https://github.com/andy-inc", target="_blank")
                        i.icon-github-circled
                li
                    a(href="http://vk.com/s696385", target="_blank")
                        i.icon-vk

