//
   Created by andy on 17/01/14.
div.row
    div.col-md-12
        h3 Hi!
            a(href="/me") I`m Andrew
            |   & now I`m
            a(href="/projects") software designer & developer
            |, working in
            a(href="http://goo.gl/maps/W7oKX", target="_blank") Russia, St. Petersburg
            |  company
            a(href="http://realweb.ru", target="_blank") RealWeb.ru
            | .

        hr

        div.post
            h5.date Monday 20th January 2014
            h4
                a(href="/posts/screen") Screen: execute command in background
            p
                |Execute any process on your ssh and logout with continue this process. For this action you can use
                span.rect screen
                |.
                | Screen can create multiple windows in a shell, from which you can "detach" and leave them running in the background, even if you log out of your user account.


