//
   Created by andy on 17/01/14.
div.row
    div.col-md-12
        h3 Hi!
            a(href="/me") I`m Andrew
            |   & now I`m
            a(href="/projects") software designer & developer
            |, working in
            a(href="http://goo.gl/maps/W7oKX", target="_blank") Russia, St. Petersburg
            |  company
            a(href="http://realweb.ru", target="_blank") RealWeb.ru
            | .

        hr

        div.posts

        div.pages


