//
   Created by andy on 17/01/14.
div
    h2 About me
    hr

    img(src="/img/photo.jpg", style="float: right; height: 400px; margin-right: 50px; ")

    p.
        Hi, my name is Andrew. I am software designer & developer.
    p.
        At first i was Delphi developer. I created a lot of special software for goverment.
        After this time web technologies come in my live.
        And now I`m Node.js developer specializing in creating comfortable, beautiful and fast web applications.
        Also develop web services, some frameworks & etc.
    p.
        At a time i`m working with RTB system, creating DSP highload service with Java, MongoDB & Redis.

    h3 Skills
        ul
            li Node.js
            li Java SE
            li Go
            li MongoDB & Redis
            li Javascript & Coffeescirpt
            li WebSockets
            li Backbone, Requirejs & jQuery
            li HTML5, CSS & LESS
            li Linux servers (specifically Ubuntu).

