//
   Created by andy on 17/01/14.
div
    h2 Projects
    hr
    p.
        On this page are collected almost all of my work, of course all of them will not,
        because it is simply impossible to collect them. Something is lost forever,
        something passed on to other people and become a disgrace.

    h3 Private Projects
        ul.links
            li RedFOG DSP - DSP system for RTB Yandex, AdFOX
            li AtWork - work time registering for personal of St. Petersburg Library orgatization
            li
                a(href="http://teleport.me", target="_blank") Teleport.me
                | - The best part of the whole system, I wrote. Taxing web application for perople, taxi organizations, taxi drivers
            li Bender - Robot management rates for contextual advertising
    h3 Personal Work

        ul.links
            li
                a(href="https://github.com/andy-inc/omnis.core", target="_blank") Node.js Omnis framework
                | - RESTful full stack framework for rich web applications
            li
                a(href="https://github.com/a696385/go-meter", target="_blank") Go-Meter
                | - Http benckmark test written in GO, sometime work better then
                a(href="https://github.com/wg/wrk", target="_blank") wrk
            li
                a(href="https://github.com/andy-inc/templ-int", target="_blank") Node.js game Integer Templates
                | - Game for memory trening, you must remember matrix of integer & open it (
                a(href="http://ti.sumskoy.com", target="_blank") http://ti.sumskoy.com
                |)
            li
                a(href="https://github.com/a696385/a.config", target="_blank") Node.js a.Config library
                | - Powerful configuration system
            li
                a(href="https://github.com/a696385/a.require", target="_blank") Node.js a.Require library
                | - Standart require replacement
            li
                a(href="https://github.com/a696385/the.logger", target="_blank") Node.js the.Logger library
                | - Powerful logger system. Can log with markers, levels to file, console, syslog, mongodb
            li
                a(href="https://github.com/a696385/ex.redis", target="_blank") Node.js ex.Redis library
                | - Additional function for comfort working with redis
            li
                a(href="https://github.com/a696385/monitor-worker", target="_blank") System performance monitor worker
                | - Demon for calucation CPU, Memory & etc.
            li
                a(href="https://github.com/a696385/monitor-redis-worker", target="_blank") Redis performance monitor worker
                | - Demon for calucation request per second, memoru usage, cpu usage  & etc. of Redis
            li
                a(href="https://github.com/a696385/monitor-view", target="_blank") Performance monitor worker view with graphs
                | - View calulated static of workers
            li
                a(href="https://github.com/a696385/mongostat-view", target="_blank") View mongostat output in life graphs
                | - View all counter in mongostat output in life graphs

    h3 Historical Work
        ul.links
            li Backuping MS SQL - Backup, compress Microsoft SQL Server database by shedule
            li School Testing - Testing knowledge of people and generate a report with a score
            li Holiday - Accounting and authorization for the issue of leave for government employees
            li Regional inventory of waste - Accounting, monitoring and control of waste in the region
            li Awards - Accounting, registration and issuance of awards to citizens of the Russian Federation in the region
