doctype html
html(lang="en")
    include layout/_head
    body
        div.wrap
            div.col-md-2.col-sm-3.col-xs-5.side
                include layout/_side
            div.col-md-10.col-sm-9.col-xs-7.wrap-content
                div#content

        include layout/_footer
