
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-guest:before { content: '\e809'; } /* '' */
.icon-appstore:before { content: '\e808'; } /* '' */
.icon-vk:before { content: '\e804'; } /* '' */
.icon-plancast:before { content: '\e80a'; } /* '' */
.icon-skype:before { content: '\e805'; } /* '' */
.icon-box:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e806'; } /* '' */
.icon-dropbox:before { content: '\e80b'; } /* '' */
.icon-github:before { content: '\e80c'; } /* '' */
.icon-github-circled:before { content: '\e807'; } /* '' */
.icon-tumblr:before { content: '\e80d'; } /* '' */
.icon-cart:before { content: '\e80f'; } /* '' */
.icon-twitter:before { content: '\e80e'; } /* '' */